# Clover API tokens (one per merchant/location)
# Al Carbon #1 - Culebra 1 (Q0H4WNJM3AKC1)
CLOVER_TOKEN_1=
# Al Carbon #2 - Culebra 2 (9AZXR97QFT0N1)
CLOVER_TOKEN_2=
# Al Carbon #3 - Nacogdoches (G25J905ETG1P1)
CLOVER_TOKEN_3=
# Al Carbon #4 - Alamo Ranch (KXFSQPCJ6B991)
CLOVER_TOKEN_4=
# Al Carbon #5 - Marbach (9380T7E7V33B1)
CLOVER_TOKEN_5=
